@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --background: 118 100% 95%;
  --foreground: 118 5% 10%;
  --card: 118 50% 90%;
  --card-foreground: 118 5% 15%;
  --popover: 118 100% 95%;
  --popover-foreground: 118 100% 10%;
  --primary: 142 76% 45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 118 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 80 30% 85%;
  --muted-foreground: 118 5% 35%;
  --accent: 80 30% 80%;
  --accent-foreground: 118 5% 15%;
  --destructive: 0 100% 35%;
  --destructive-foreground: 118 5% 90%;
  --border: 118 30% 50%;
  --input: 118 30% 35%;
  --ring: 118 81% 20%;
  --radius: 1rem;
}

.dark {
  --background: 118 50% 10%;
  --foreground: 118 5% 90%;
  --card: 118 50% 10%;
  --card-foreground: 118 5% 90%;
  --popover: 118 50% 5%;
  --popover-foreground: 118 5% 90%;
  --primary: 142 76% 45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 118 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 80 30% 25%;
  --muted-foreground: 118 5% 60%;
  --accent: 80 30% 25%;
  --accent-foreground: 118 5% 90%;
  --destructive: 0 100% 35%;
  --destructive-foreground: 118 5% 90%;
  --border: 118 30% 35%;
  --input: 118 30% 35%;
  --ring: 118 81% 20%;
  --radius: 1rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* 定制绿色主题样式 */
.bg-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.border-primary {
  border-color: hsl(var(--border));
}

.text-primary {
  color: hsl(var(--primary));
}

.btn-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.btn-primary:hover {
  background-color: hsl(var(--primary) / 0.9);
}

.card {
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  border: 1px solid hsl(var(--border) / 0.2);
  border-radius: var(--radius);
}
